.name {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.contactList {
  display: flex;
  flex-direction: column;
  margin: 10px;
  list-style: none;
  color: black;
  width: 300px;
}

.number {
  margin-left: 10px;
}

.button {
  width: 100px;
  margin-left: 20px;
}

.button:hover,
.button:focus {
  background-color: blue;
  color: white;
}
.loader {
  display: block;
  margin-left: 150px;
}
